<header>
    <nav class="navbar">
        <div class="leftNav">
            <div class="brand">
                 <p><a href="manojrahavan12.in" class="">MyPortfolio</a></p>
            </div>
            <div class="homeTodo">
                    <span><a href="/welcome/Manoj" class="">Home</a> </span> &nbsp;&nbsp;
                    <span><a href="/todos" class="">Todos</a></span>
            </div>
        </div>

        <div class="rightNav" >
            <ul class="loginLogout">
                <li> <a href="/login" class="login">Login</a></li>&nbsp;&nbsp;
                <li> <a href="/logout" class="logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<!-- 
<header>
    <nav class="navbar navbar-expand-md">
        <div> <a href="manoj.rahavan12.in" class="navbar-brand">MyPortfolio</a></div>

        <ul class="navbar-nav">
            <li> <a href="/welcome/Manoj" class="navbar-link">Home</a></li>
            <li> <a href="/todos" class="nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li> <a href="/login" class="nav-link">Login</a></li>
            <li> <a href="/logout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header> -->